<!-- <app-emps></app-emps> -->
<!-- <app-login></app-login>  -->
<!-- <app-sicalc></app-sicalc> -->
<!-- <app-product></app-product> -->
<!-- <app-students></app-students> -->
<!-- <app-empl-grades></app-empl-grades> -->
<!-- <app-splice-concept></app-splice-concept> -->
<!-- <app-users></app-users> -->
<!-- <app-empl-http></app-empl-http> -->
<!-- <app-crud-operations></app-crud-operations> -->


<h1>Single Page Application</h1>
<hr/>
<a [routerLink]="['/login']">Login</a> | 
<a [routerLink]="['/emps']">Employee Details</a> | 
<a [routerLink]="['/products']">Product Details</a> | 
<a [routerLink]="['/students']">Student Details</a> |
<a [routerLink]="['/logout']">Log Out</a>
<br/><br/>

<router-outlet></router-outlet>


