<style>
    .bg1{ background-color :  lightblue;  }
    .bg2{ background-color :  lightgreen;  }
    .bg3{ background-color :  pink;  }

.c1
  {
    color : dodgerblue;
    border:1px solid dodgerblue;
    width :  100px;
    margin : 5px;
    float : left;
    text-align : center;
    background-color : white;
  }

  .c2
  {
     background-color: dodgerblue;
     color : white;
     margin: 0px;
  }

</style>  

<h3>Working with directives in Angulars</h3>
<hr/>

Select Display Mode :  
<input [(ngModel)]="mode" type="radio" id="dis" name="dis" value="List"/>List
<input [(ngModel)]="mode" type="radio" id="dis" name="dis" value="Table"/>Table
<input [(ngModel)]="mode" type="radio" id="dis" name="dis" value="Custom"/>Custom
<!-- <select [(ngModel)]="mode">
    <option>List</option>
    <option>Table</option>
    <option>Custom</option>
</select> -->
<br/><br/>
<section [ngSwitch]="mode">
    <article *ngSwitchCase=" 'List' ">
        <ol>
            <li *ngFor="let item of studentsArray">
                Mr./Mrs. 
                <span style="color:blue; font-weight: bold;">{{item.sname}}</span> 
                joined in 
            <span   [ngStyle]="{ color : (item.course == 'Angular')?'red':'green' }">{{item.course}} </span> 
                course.
            </li>
        </ol>        
    </article>

    <article *ngSwitchCase=" 'Table' ">
        <table border="2" cellspacing="0" cellpadding="5" width="500">
            <tr class="bg1">
              <th>S.No</th>
              <th>Student Name</th>
              <th>Course Name</th>
            </tr>
        
            <tr *ngFor="let item of studentsArray;  let i = index; let x = even; let y = odd;"
                [ngClass]="{'bg2':x, 'bg3':y}">
              <td> {{i + 1}}</td>
              <td>{{item.sname}}</td>
              <td>{{item.course}}</td>
            </tr>
        
          </table>
    </article>

    <article *ngSwitchCase=" 'Custom' ">
        <div *ngFor="let item of studentsArray" class="c1">
            <p class="c2">{{item.sname}}</p>
            {{item.course}}
        </div>
    </article>
</section>

<div *ngIf="studentsArray.length == 0">
    **Students details are not available at this movement. 
</div>
